*{
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    background-color: #7bb3e2;
}

.space{
    width: 100%;
    height: 100px;
}

#container {
    width: 80%;
    margin: 0 auto;
    padding: 0 10px;
    background-color: #c0e2ff;
    height: 1000px;
}

#main-container{
    display: flex;
    padding: 10px;
    width: 100%;
    height: 300px;
    transition: all .3s;
    background-color: #dbedff;
    border-radius: 10px;
    /*box-shadow: 0 8px 18px -6px #43555a;*/
}
#main-container:hover{
    transform: translateY(-10px);
    box-shadow: 0 8px 18px -6px #43555a;
}

#firm-avatar-container {
    width: 30%;
    display: flex;
    align-items: center;
}

#firm-info-container{
    height: 100%;
    width: 50%;
    padding: 15px;
}

#firm-avatar-container img{
    border-radius: 50px;
    height: 100%;
    max-width: 100%;
}

#actions-container{
    height: 100%;
    width: 30%;
    padding-top: 30px;
    position: relative;
}

.action-container{
    /*position;*/
    bottom: 0;
}

.firm-info-label{
    font-size: 20px;
}

.firm-info-input{
    display: block;
    /*font-size: 39px;*/
    margin-bottom: 5px;
}

#firm-name-input{
    font-size: 45px;
}

#firm-phone-input{
    font-size: 20px;
}

#firm-email-input{
    font-size: 30px;
}

.firm-info-input:disabled{
    /*font-size: 40px;*/
    border: none;
    background: none;
    color: #000000;
}

.action-btn{
    width: 300px;
    background-color: #a6c5e4;
    margin-bottom: 3px;
    border-radius: 10px;
}

.action-btn:hover{
    background-color: #8caccc;
}

#content-container{
    display: flex;
}

.column-header-btn{
    border: none;
    margin: 0 5px;
    border-radius: 2px;
    height: 36px;
    line-height: 36px;
    padding: 0 16px;
    font-size: 25px;
    text-align: center;
    letter-spacing: .5px;
    color: #ffffff;
    background-color: #ababab;
    transition: all .3s;
}

.column-header-btn:hover {
    cursor: pointer;
    background-color: #888888;
}

.column{
    /*margin: 10px;*/
    flex-grow: 1;
}

.column-element{
    background-color: #dbedff;
    margin: 10px;
    padding: 5px;
    transition: all .5s;
    /*height: 100px;*/
}

.column-element:hover{
    transform: scale(1.03);
    box-shadow: 2px 5px 9px 1px #aaaaaa;
    background-color: #d0e3f3;
    border-radius: 10px;
}

.column-element-header{
    display: flex;
    justify-content: space-between;
}

.no-items-label{
    width: 100%;
    font-size: 30px;
    text-align: center;
    line-height: 100px ;
    /*margin: 60px auto;*/
}

.break{
    flex-basis: 100%;
    height: 0;
}

#edit-profile-btn{
    margin-top: 20px;
}

#addresses-container-content{
    font-family: system-ui;
}

.column-content-btn{
    border: none;
    font-size: 20px;
    color: white;
    border-radius: 4px;
    padding: 5px;
    background-color: #407eca;
}

.column-content-btn:hover {
    background-color: #4084da;
    cursor: pointer;
}

.address-item{
    margin: 4px 5px;
    padding: 5px;
    background-color: #c0e2ff;
    display: flex;
    height: 60px;
}

.address-item:hover{
    background-color: #b6d9fa;
}

.address-item-info{
    width: 80%;
    height: 100%;
}

.address-item-actions{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20%;
    height: 100%;
}

.modal-header{
    padding: 20px;
    font-size: 50px;
}

#address-modal-content {
    width: 22%;
}

.modal-body{
    padding: 25px;
}

.modal-inp{
    width: 400px;
}

.modal-footer{
    display: flex;
    justify-content: center;
}

#delete-modal-body div label{
    margin: 0 0 20px 0;
    font-size: 60px;
}

#delete-modal-body div{
    display: flex;
    justify-content: center;
}
