*{
    margin: 0;
    padding: 0;

}

body{
    height: 100%;
    /*width: 100%;*/
}

#container{
    margin: 0 auto;
    width: 30%;
    height: 1000px;
    display: flex;
    justify-content: center;
    align-content: center;
}

#login-container{
    margin: auto 0;
    padding: 10px;
    height: 500px;
    width: 100%;
    border: 2px solid #1c3cfe;
    border-radius: 10px;

}

#label-container{
    width: 100%;
    height: 40%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

.break{
    flex-basis: 100%;
    height: 1px;
}

.floating-label{
    padding: 5px;
}

#login-input:focus, #password-input:focus{
    outline:none;
    border-bottom:none;
}

#login-input:focus , #login-input:not(:placeholder-shown),
#password-input:focus , #password-input:not(:placeholder-shown){
    border: 2px solid #0096fe;

    border-radius: 5px;
    height: 60px;
    font-size: 30px;
}

.input{
    margin-bottom: 50px;
}

.floating-input{
    font-size: 30px;
}

#input-container{
    width: 100%;
    height: 45%;
    padding: 20px 60px;
}

#create-account-btn{
    outline: none;
    border: none;
    width: 200px;
    background: none;
    border-radius: 5px;
    height: 60px;
    /*padding: px;*/
    font-size: 25px;
    /*transition: all .2s;*/
}
.error-label{
    color: red;
    font-size: 20px;
}

#create-account-btn:hover{
    border: 2px solid #3d88fe;
    background-color: #fefefe;
    cursor: pointer;
}

#login-btn{
    outline: none;
    border: none;
    width: 150px;
    border-radius: 5px;
    height: 50px;
    /*padding: px;*/
    font-size: 25px;
    background-color: #2b88ff;
    color: #fefefe;
    /*transition: all .2s;*/
}

#login-btn:hover{
    /*border: 2px solid #ffffff;*/
    box-shadow: 0 0 3px 1px rgba(43, 136, 255, 0.54);
    cursor: pointer;
}

#actions-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 15%;
}