*{
    box-sizing: inherit;
}

.page-btn{
    margin: 0 2px;
    border: none;
    border-radius: 2px;
    height: 30px;
    min-width: 30px;
    line-height: 20px;
    /*padding: 0 3px;*/
    font-size: 20px;
    text-align: center;
    letter-spacing: .5px;
    color: #ffffff;
    background-color: #ff7d3a;
    transition: all .3s;
}

.current-page-btn{
    margin: 0 2px;
    border: none;
    border-radius: 2px;
    height: 35px;
    min-width: 35px;
    line-height: 20px;
    /*padding: 0 3px;*/
    font-size: 20px;
    text-align: center;
    letter-spacing: .5px;
    color: #ffffff;
    background-color: #ff4661;
    transition: all .3s;
}

.page-btn:hover{
    cursor: pointer;
    transform: scale(1.2);
}

.btn{
    margin: 0 5px;
    border: none;
    border-radius: 2px;
    height: 36px;
    line-height: 36px;
    padding: 0 16px;
    font-size: 18px;
    text-align: center;
    letter-spacing: .5px;
    color: #ffffff;
    background-color: #26a69a;
    transition: all .3s;
}

.btn:hover{
    cursor: pointer;
    background-color: #29d9cd;
}

.alert-label{
    font-size: 30px;
    margin: 0 auto;
}

.reg-inp{

}
